{:highlights [{:id #uuid "6596cb1e-a296-49f4-adef-9fe17e44306f",
               :page 5,
               :position {:bounding {:x1 61.44096799194813,
                                     :y1 314.6093521118164,
                                     :x2 825.7636532336473,
                                     :y2 376.8836441040039,
                                     :width 890,
                                     :height 500.54302233306885},
                          :rects ({:x1 69.5425228625536,
                                   :y1 314.6093521118164,
                                   :x2 825.7636532336473,
                                   :y2 344.6093521118164,
                                   :width 890,
                                   :height 500.54302233306885}
                                  {:x1 61.44096799194813,
                                   :y1 346.8836441040039,
                                   :x2 567.0125317126513,
                                   :y2 376.8836441040039,
                                   :width 890,
                                   :height 500.54302233306885}),
                          :page 5},
               :content {:text "A cryptographic scheme for a given task is secure, if no adversary of a specified power can achieve a specified break”"},
               :properties {:color "blue"}}],
 :extra {:page 36}}
